# EditorConfig helps developers define and maintain consistent
# coding styles between different editors and IDEs

# top-most EditorConfig file
root = true

# TypeScript files
[*.ts]
indent_style = space
indent_size = 2

# Specify the end_of_line and charset settings if needed
end_of_line = lf
charset = utf-8
